<div class="page-header">
  <h1>
    Reviews
    <a href="/reviews/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Reviews (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @reviews.each do |review| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= review.venue.name %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>User</dt>
          <dd><%= review.user.username %></dd>

          <dt>Address</dt>
          <dd><%= review.venue.address %></dd>

          <dt>General rating</dt>
          <dd><%= review.general_rating %></dd>

          <dt>Parking lot</dt>
          <dd><%= review.parking_lot %></dd>

          <dt>Dish name</dt>
          <dd><%= review.dish_name %></dd>

          <dt>Dish rating</dt>
          <dd><%= review.dish_rating %></dd>

          <dt>Atmosphere rating</dt>
          <dd><%= review.atmosphere_rating %></dd>

          <dt>Average per person price</dt>
          <dd><%= review.average_per_person_price %></dd>

          <dt>Price with drinks</dt>
          <dd><%= review.price_with_drinks %></dd>


        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/reviews/<%= review.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>


    <% if review.user_id == current_user.id %>

          <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>

          <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>
</div>



<!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
